save-exact=true
prefer-workspace-packages=true
shared-workspace-lockfile=true
strict-peer-dependencies=false
manage-package-manager-versions=false
confirm-modules-purge=false
verify-deps-before-run=warn
