.forest {
  --cover-image: url('/images/campaign-covers/forest-preset.png');
  --cover-position: 64% center;
  --cover-rgb: 23 33 26;
}

.sea {
  --cover-image: url('/images/campaign-covers/sea-preset.png');
  --cover-position: 64% center;
  --cover-rgb: 22 37 46;
}

.mountains {
  --cover-image: url('/images/campaign-covers/mountains-preset.png');
  --cover-position: 62% center;
  --cover-rgb: 37 33 31;
}

.city {
  --cover-image: url('/images/campaign-covers/city-preset.png');
  --cover-position: 63% center;
  --cover-rgb: 37 26 22;
}

.dungeon {
  --cover-image: url('/images/campaign-covers/dungeon-preset.png');
  --cover-position: 64% center;
  --cover-rgb: 23 22 28;
}

.tavern {
  --cover-image: url('/images/campaign-covers/tavern-preset.png');
  --cover-position: 64% center;
  --cover-rgb: 44 33 25;
}
